body {
    background-color: rgb(57, 102, 0);
    margin-left: 6px;
}

@font-face {
    font-family: ubuntumono;
    src: url(UbuntuMono-R.ttf);
}

li {
    color: #ffffff;
    font-family: ubuntumono;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}

.cmd, .cmd:focus {
    background-color: rgb(57, 102, 0);
    color: #ffffff;
    font-family: ubuntumono;
    font-size: 15px;
    outline: none;
    border:none;
}