body{
	background-color: #660066;
}

@font-face {
    font-family: ubuntumono;
    src: url(UbuntuMono-R.ttf);
}

li{
	color: #ffffff;
	font-family: ubuntumono;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	margin-top: 1px;
	margin-left: 1px;
}

ul{

}
